<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wix</title>
</head>
<body>
    <div id="app">
        <div>
            <div>               <label>Parent:</label>
                <select v-model="newItem.parent">
                    <option selected value="">none</option>
                    <option is="vue-option" v-for="item in list" :item="item"></option>

                </select>
            </div>
            <div>
                <label>Title:</label>
                <input type="text" v-model="newItem.title" />
            </div>
            <div><input type="submit" v-on:click="addItem" /></div>
        </div>
        <div>
            <ul>
                <item v-for="item in list" :item=item></item>
            </ul>
        </div>
    </div>
    <script src="vue.js"></script>
    <script src="app.js"></script>
</body>
</html>